body { margin: 0; padding: 0; }

#map {
    width: 40%; 
    height: 350px; 
    margin-bottom: 40px;
    border-radius: 5px; 
    margin: auto;
}

@media screen and (max-width: 600px) {
    #map{
        width: 100%;
    }
  }